.container{
    background-position: center;
    margin: auto;
    text-align: center;
}
p{
    font-size: x-large;
}
.caixinhas{
    background-position: center;
    margin: auto;
    text-align: center;
    padding: 20px;
}